<!doctype html>
<html lang="fr">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Est-ce que c'est bientôt le week-end ?</title>
    <meta name="description" content="{{ text }}">
    <meta property="og:title" content="Est-ce que c'est bientôt le week-end ?">
    <meta property="og:description" content="{{ text }}">
    <meta property="og:type" content="website">
    <meta property="og:url" content="{{ url('index') }}">
    <meta property="og:locale" content="fr">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <style type="text/css">
      body {
        text-align: center;
        padding-top: 40px
      }
      img {
        border: 0px;
      }
      p.msg {
        font-family: Verdana;
        font-size: 40px;
        padding-bottom: 40px
      }
      footer {
        text-align: right;
      }
    </style>
  </head>
  <body>
    <p class="msg">
      {{ text }}
    </p>

    {% if subtext != '' %}
      <p class="msg">
        {{ subtext }}
      </p>
    {% endif %}
  </body>
</html>
